@page
@model MedBook_RazorPages.Pages.SearchModel

@{
    ViewData["Title"] = "Search";
}

<form class="was-validated">
    <div class="nav nav-pills nav-fill">

        <select class="custom-select custom-select-lg mb-3">
            <option class="dropdown-item" href="/SearchPage">Nervous system</option>
            <option class="dropdown-item" href="/SearchPage">The locomotor system</option>
            <option class="dropdown-item" href="/SearchPage">Digestive system</option>
            <option class="dropdown-item" href="/SearchPage">Respiratory system</option>
            <option class="dropdown-item" href="/SearchPage">Circulatory system</option>
            <option class="dropdown-item" href="/SearchPage">The excretory system</option>
            <option class="dropdown-item" href="/SearchPage">The reproductive system</option>
            <option class="dropdown-item" href="/SearchPage">The Analyzers</option>
        </select>

        <select class="custom-select custom-select-lg mb-3">
           
            <option class="dropdown-item" href="/SearchPage">Iasi</option>
            <option class="dropdown-item" href="/SearchPage">Bucharest</option>
            <option class="dropdown-item" href="/SearchPage">Timisoara</option>
            <option class="dropdown-item" href="/SearchPage">Cluj Napoca</option>
        </select>

        <select class="custom-select custom-select-lg mb-3"
               
        </select>

        <label for="customRange3">Min rating</label>
        <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3">

    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicalService[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalService[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalService[0].DayStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalService[0].DayEndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MedicalService) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayEndTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
